# : comments

# no .a files


# but do track lib.a, even though you're ignoring .a files above
!lib.a

# ignore all files in the build/ directory
/node_modules/
# ignore doc/notes.txt, but not doc/server/arch.txt
/build/
app_dev.yaml
app_prd.yaml
/local/

# ignore all .pdf files in the doc/ directory
doc/**/*.pdf